spring:
  application:
    name: AcpTutorial

  datasource:
    url: "${acp.postgres:jdbc:postgresql://localhost:5432/acp}"
    username: "postgres"
    password: "postgres"
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  liquibase:
    enabled: false

info:
  app:
    name: AcpTutorial
    description: ACP Coursework 1 REST Service
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: info, health
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

logging:
  level:
    web: info

springdoc:
  api-docs:
    enabled: true

server:
  port: 8080

acp:
  postgres: "jdbc:postgresql://localhost:5432/acp"
  s3: "http://localhost:4566"
  dynamodb: "http://localhost:4566"
  sid: "${ACP_SID:s2821285}"